div.about {
  background: $mustyBlue;
  box-sizing: border-box;
  padding: 30px;

  h3 {
    color: $purple;
    font-size: 30px;
    line-height: 36px;
  }

  p {
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
  }

  .about__creators {
    text-align: center;

    span {
      color: $dustyPurple;
      display: block;
      font-style: italic;
      padding: 20px 0;
    }

    .mm_logo,
    .nbhoodie_logo {
      height: 50px;
      margin: auto;
      width: 250px;
    }
  }

  .about__feedback {
    background: $lightGrey;
    border-radius: 6px;
    padding: 10px;
    margin-top: 36px;

    p {
      font-size: 16px;
      margin: 0;

      a {
        color: $progressGreen;
        font-weight: 600;
        text-decoration: none;
      }
    }
  }
}
