.record-error {
  background-color: $white;
  border-radius: 3px;
  bottom: 10%;
  box-sizing: border-box;
  color: $dustyPurple;
  left: 2.5%;
  opacity: 0;
  margin: auto;
  padding: 4.5%;
  position: absolute;
  text-align: center;
  transition: all 1s ease;
  width: 95%;
  z-index: -10;

  &:after {
    background-color: $white;
    bottom: -7px;
    content: "";
    height: 20px;
    position: absolute;
    right: 21%;
    transform: rotate(-45deg);
    width: 20px;
  }

  p {
    font-weight: 400;
    margin: 0;
    padding-bottom: 2.5%;
  }

  span.close__error {
    color: $slowMustard;
    display: block;
    font-weight: 600;
  }

  &.show {
    bottom: 17%;
    opacity: 1.0;
    z-index: 1;
  }

}
