.system__state {
  bottom: -500%;
  width: 100%;
  position: absolute;
  transition: all .5s ease;
  z-index: 2;

  &.reconnecting.offline.recording-list-active {
    bottom: 0;
    z-index: 3;

    strong {
      color: $slowMustard;
      &::before {
        border-color: $slowMustard;
      }
    }
  }
  &.restored.online.recording-list-active {
    bottom: 0;

    strong {
      color: $progressGreen;
      &::before {
        border-color: $progressGreen;
      }
    }
  }

  p.message {
    background: #FFFFFF;
    border-radius: 3px;
    box-shadow: 0 1px 0 rgba(0,0,0,.05);
    box-sizing: border-box;
    color: $dustyPurple;
    display: flex;
    flex-wrap: wrap;
    font-size: 13px;
    font-weight: 400;
    list-style: none;
    overflow: hidden;
    margin: 12px auto;
    padding: 10px;
    position: relative;
    width: 93.75%;

    strong {
      padding-left: 20px;

      &::before {
        content: "";
        position: absolute;
        width: 4px;
        height: 4px;
        border: 2px solid;
        border-radius: 6px;

        left: 15px;
        top: 14px;
      }
    }
  }
}

.update__wrap {
  height: 100%;
  left: 0;
  position: absolute;
  width: 100%;
  transition: all .5s ease;
  z-index: 3;


  &.active {
    height: 94%;
  }
}

.app-update {
  align-items: center;
  background-color: $slowMustard;
  bottom: 0;
  display: flex;
  font-size: 13px;
  font-weight: 600;
  height: 6%;
  left: 0;
  position: absolute;
  text-align: center;
  width: 100%;
  z-index: 2;

  span {
    margin: auto;
    width: 100%;
    padding: 5px;
  }
}
