.stage__questions {
  background: $purple;
  color: $white;
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  overflow: hidden;
  position: absolute;
  width: 100%;
}


.questions {
  align-items: center;
  display: flex;
  height: 70%;
  margin-top: -130px;
  position: relative;
  text-align: center;
  width: 100%;
  z-index: 1;

  p {
    font-size: 9vw;
    line-height: 12vw;
    margin: auto;
    width: 80%;
  }
}
