.temp-hide-canvas {
  display: none;
}

body {
  background: #29103A;
}

svg {
  display: flex;
  align-items: center;
  overflow: visible;

  rect {
    position: relative;
    z-index: 2;
  }

  g {
    position: relative;
    z-index: 1;
  }

  .grid {

    path {
      stroke: transparent;
    }

    .tick {
      line {
        stroke: rgba(255,255,255,.05);
      }
    }

    &.y-grid {
      .tick:nth-child(2n){
        line {
          stroke: rgba(255,255,255,.15);
        }
      }
    }

    &.x-grid {
      .tick:nth-child(4n+2){
        line {
          stroke: rgba(255,255,255,.15);
        }
      }
    }
  }
  .labels {

    text {
      fill: #fff;
    }

    path {
      stroke: transparent;
    }
  }
}
